<!--
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springHelloWorld"
          class="jp.blackawa.example.helloworld.SpringHelloWorld"/>
    <bean id="strutsHelloWorld"
          class="jp.blackawa.example.helloworld.StrutsHelloWorld"/>


    <bean id="helloWorldService"
          class="jp.blackawa.example.helloworld.HelloWorldService">
        <property name="helloWorld" ref="springHelloWorld" />
    </bean>

</beans>
-->